<font face="helvetica">
{% for item in results %}
<b><font color="red">Run: {{item.runnr}}</font></b><br>
Persons on shift: {{item.persons}} <br>
Run start time: {{item.starttime0|date:'Y/m/d H:i:s'}} <br>
Beam stopper opening time: {{item.starttime1|time:'H:i:s'}} <br>
Beam stopper open: {{item.starttime2|time:'H:i:s'}} <br>
Run stop time: {{item.endtime|date:'Y/m/d H:i:s'}} <br>
Type of run: {{item.runtype}} <br>
Maskfile: {{item.maskfile}} <br>
Diamond 1: {{item.dia1}} <br>
Diamond 2: {{item.dia2}} <br>
HV Diamond 1: {{item.dia1hv}} <br>
HV Diamond 2: {{item.dia2hv}} <br>
FS11: {{item.fs11}} <br>
FS13: {{item.fs13}} <br>
Quadrupole settings: {{item.quadrupole}} <br>
Raw rate: {{item.rawrate}} <br>
Prescaled rate: {{item.prescaledrate}} <br>
Pulser rate: {{item.pulserrate}} <br>
Accepted pulser rate: {{item.accepted_pulserrate}} <br>
Fast OR 1: {{item.for1}} <br>
Fast OR 2: {{item.for2}} <br>
TLU input rate: {{item.tlu_input_rate}} <br>
Measured flux: {{item.measuredflux}} <br>
Comments: {{item.comments}} <br>
<br><br>
{% endfor %}
</font>
